-- Migration: Import all prospects with trades
-- Date: 2025-11-09
-- Generated: Python script

BEGIN;

-- First, ensure all GC customers exist
DO $$
DECLARE
  v_customer_names TEXT[] := ARRAY[
    'Aagaard-Juergensen', 'Arco Murray', 'Axiom Builders', 'Batten & Shaw',
    'Beech Construction', 'Choate', 'Crain Construction', 'DF Chase',
    'DPR Construction', 'Doster Construction', 'HITT Contracting Inc',
    'JE Dunn Construction', 'Layton Construction', 'Premier Contracting',
    'SEFL', 'Whiting - Turner'
  ];
  v_name TEXT;
BEGIN
  FOREACH v_name IN ARRAY v_customer_names
  LOOP
    IF NOT EXISTS (SELECT 1 FROM customers WHERE name = v_name) THEN
      INSERT INTO customers (name, party_type, created_at)
      VALUES (v_name, 'gc', NOW());
    END IF;
  END LOOP;
END $$;

-- Insert all prospects

-- Now insert trades for each prospect
DO $$
DECLARE
  v_eng_id UUID;
  v_trade_id UUID;
BEGIN

  -- 1. 1401 Church St Tower 1
  SELECT id INTO v_eng_id FROM engagements WHERE name = '1401 Church St Tower 1' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1522700.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 2. 5 City Blvd - 6th Floor TI
  SELECT id INTO v_eng_id FROM engagements WHERE name = '5 City Blvd - 6th Floor TI' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 10562.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 29595.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 119483.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 3. 8th & Demonbreun
  SELECT id INTO v_eng_id FROM engagements WHERE name = '8th & Demonbreun' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 6615618.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.64.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 482367.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 892204.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 761300.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '22.40.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 690464.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 4. AAA Cooper Savannah, GA
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'AAA Cooper Savannah, GA' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 78315.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 16200.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 5. AB Nashville Lvl 17,18,24 Polished Concr
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'AB Nashville Lvl 17,18,24 Polished Concrete' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
  END IF;

  -- 6. Averitt Express Bowling Green, KY
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Averitt Express Bowling Green, KY' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 66395.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 7. Averitt Express Lebanon, TN
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Averitt Express Lebanon, TN' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 18200.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 8. Averitt Express Montgomery, AL
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Averitt Express Montgomery, AL' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 238108.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 18042.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 9. Averitt Express Richland, MS
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Averitt Express Richland, MS' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 139230.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 10380.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 10. Averitt Express Sunrise, FL
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Averitt Express Sunrise, FL' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 190693.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 15307.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 11. Averitt Express West Columbia, SC
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Averitt Express West Columbia, SC' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 102427.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 12223.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 12. CAA Nashville Yards
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'CAA Nashville Yards' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 343300.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.64.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 56300.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 33500.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 210400.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 13. Camden Gulch
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Camden Gulch' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 2043000.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 2560000.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '22.40.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 451000.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 14. College Grove Athletic Facility - Buildi
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'College Grove Athletic Facility - Building B' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 165700.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 11200.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 159850.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 15. College Grove Athletic Facility - Buildi
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'College Grove Athletic Facility - Building X' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 455520.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 374740.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 80650.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 16. Dayton Freight Calhoun, GA
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Dayton Freight Calhoun, GA' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 55254.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 50424.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 17. Dayton Freight McKees Rocks, PA
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Dayton Freight McKees Rocks, PA' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 59240.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 90230.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 18. DF Chase Office Suite 100
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'DF Chase Office Suite 100' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 28200.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 19. DF Chase Office Suite 200
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'DF Chase Office Suite 200' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 44200.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 20. Emory Decatur Hospital Women''s Center &
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Emory Decatur Hospital Women''s Center & NICU Renovation' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1133385.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 2097820.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 21. Estes Express Jeffersonville, IN
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Estes Express Jeffersonville, IN' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 5750.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 22. Fairington Amenity Buildings
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Fairington Amenity Buildings' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 116600.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 100700.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 23. Gaylord Opryland Commissary Renovation 2
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Gaylord Opryland Commissary Renovation 2023' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 350124.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 20856.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 24. Gaylord Opryland Magnolia Lobby
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Gaylord Opryland Magnolia Lobby' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1137688.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 25. Gaylord Opryland Meeting & Ballroom Expa
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Gaylord Opryland Meeting & Ballroom Expansion' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1861580.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 30000.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 326050.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 26. Gaylord Palms Convention Kitchen Office 
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Gaylord Palms Convention Kitchen Office 108' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 8510.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 27. Gaylord Palms Emerald Bay Meeting Rooms 
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Gaylord Palms Emerald Bay Meeting Rooms Renovation' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 89534.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 27398.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 28. Gaylord Palms Hall of Cities
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Gaylord Palms Hall of Cities' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 68083.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 29. Gaylord Palms Key West MOOR Flooring
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Gaylord Palms Key West MOOR Flooring' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 24780.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 30. Gaylord Palms Orange Blossom Balcony
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Gaylord Palms Orange Blossom Balcony' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 92033.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 31. Gaylord Palms Sun Ballroom
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Gaylord Palms Sun Ballroom' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 125800.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 32. Gaylord Rockies Soundwaves
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Gaylord Rockies Soundwaves' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 941500.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 33. Hampton Inn & Home 2 Suites Century Farm
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Hampton Inn & Home 2 Suites Century Farms' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '06.61.13' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 73600.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 500163.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 34600.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 146074.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '10.28.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 40950.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '22.40.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 47600.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 34. HCA TriStar NorthCrest NucMed Replacemen
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'HCA TriStar NorthCrest NucMed Replacement' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 4420.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 35. HCA Tristar Northcrest Radiology CT Scan
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'HCA Tristar Northcrest Radiology CT Scan Equipment Upgrades' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 13170.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 36. HCA TriStar Summit Lebanon Imaging CT Eq
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'HCA TriStar Summit Lebanon Imaging CT Equipment Upgrade' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 7980.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 37. HMA Mt Juliet Pediatrics TI
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'HMA Mt Juliet Pediatrics TI' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 50400.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 120530.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 38. HMA Westgate 1: Internal Medicine TI
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'HMA Westgate 1: Internal Medicine TI' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 6100.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 9600.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 39. Hoxton Hotel
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Hoxton Hotel' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 2351740.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.64.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 994000.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 95750.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 219950.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 40. JW San Antonio Hill Guestroom Renovation
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'JW San Antonio Hill Guestroom Renovation' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 13981000.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1007000.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 235000.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 41. MRMC Cardiac Diagnostic & Cath Lab Reno
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'MRMC Cardiac Diagnostic & Cath Lab Reno' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 44250.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 184420.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1600.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 42. Music City Executive Airport
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Music City Executive Airport' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 48600.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 41600.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 43. Oak Hill School Pre K Wing Interior Reno
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Oak Hill School Pre K Wing Interior Reno' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 15800.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 44. ODFL Sarasota, FL
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'ODFL Sarasota, FL' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 92133.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 11867.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 45. Park Place Nashville - South Tower
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Park Place Nashville - South Tower' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 14719000.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 244700.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 200000.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 46. Parkway Tower Nashville
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Parkway Tower Nashville' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 729205.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 482560.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 522000.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 47. Phybus Women''s Surgical Center
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Phybus Women''s Surgical Center' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 25979.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 65370.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 48. Preface & Arcane Hotel
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Preface & Arcane Hotel' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 2700416.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.64.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1151272.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 92267.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 42017.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '12.36.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 481494.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 49. R&L Montgomery, IL
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'R&L Montgomery, IL' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 264740.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 50. SAIA Des Moines, IA
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'SAIA Des Moines, IA' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 278285.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 15225.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 51. SAIA Grand Prairie, TX
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'SAIA Grand Prairie, TX' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 129688.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 52. SEFL Columbus, GA
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'SEFL Columbus, GA' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 25060.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 27900.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 15190.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 53. SEFL Florence, SC
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'SEFL Florence, SC' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 7603.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 54. Lodge2A
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Lodge2A' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 60250.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.64.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 55200.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 4220.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 28300.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 55. Thermo Fisher
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Thermo Fisher' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 138497.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 12361.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 56. Hilton Grand Vacation Sales Center Renov
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Hilton Grand Vacation Sales Center Renovation' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 58200.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 6500.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 44600.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 57. TOA Midtown Nashville
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'TOA Midtown Nashville' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 78600.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 520000.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 58. TSU Ag Campus Organic Research Lab
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'TSU Ag Campus Organic Research Lab' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1200.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 6700.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '12.36.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 300.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 59. Vanderbilt First Year Commons
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Vanderbilt First Year Commons' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '06.61.13' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 117045.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 118900.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 287500.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 52500.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 60. Unity Humboldt Renovations
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Unity Humboldt Renovations' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 92700.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1500.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 61. UTK Art & Architecture Office Renovation
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'UTK Art & Architecture Office Renovation' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 25700.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 62. Vanderbilt Baker Building Suite 110 Reno
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Vanderbilt Baker Building Suite 110 Renovation' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 900.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 10050.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 44770.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '12.36.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 11300.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 63. Vanderbilt SC-6 New Building
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Vanderbilt SC-6 New Building' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 373900.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1784264.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 273000.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '22.40.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 10000.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 64. VOCE Hotel + Residence
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'VOCE Hotel + Residence' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 2878606.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.64.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1917990.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 96756.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 128500.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 65. VTS Smyrna: Building 603 Latrine Repairs
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'VTS Smyrna: Building 603 Latrine Repairs and Upgrades ' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 55300.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1800.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 66. VU Seigenthaler Center Renovations
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'VU Seigenthaler Center Renovations' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 85257.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.64.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 35810.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 41251.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 191078.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 67. VUMC Concierge Medicine Carothers Interi
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'VUMC Concierge Medicine Carothers Interior Renovation' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 21900.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 70800.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 68. VUMC Crystal Terrace Clinical Reno
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'VUMC Crystal Terrace Clinical Reno' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 88100.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 69. VUMC MRB IV MICRO BSL3 Facility
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'VUMC MRB IV MICRO BSL3 Facility' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 82470.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 1020.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 70. VUMC TVC Radiation Oncology Office Reno 
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'VUMC TVC Radiation Oncology Office Reno R1' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 36702.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 36991.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

  -- 71. Xxentria Manufacturing Facility - Phase 
  SELECT id INTO v_eng_id FROM engagements WHERE name = 'Xxentria Manufacturing Facility - Phase 1' AND type = 'prospect' LIMIT 1;
  IF v_eng_id IS NOT NULL THEN
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.30.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 65425.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.65.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 67282.0) ON CONFLICT DO NOTHING;
    END IF;
    SELECT id INTO v_trade_id FROM trades WHERE code = '09.68.00' LIMIT 1;
    IF v_trade_id IS NOT NULL THEN
      INSERT INTO engagement_trades (engagement_id, trade_id, estimated_amount)
      VALUES (v_eng_id, v_trade_id, 24510.0) ON CONFLICT DO NOTHING;
    END IF;
  END IF;

END $$;

COMMIT;

-- Verify: SELECT COUNT(*) FROM engagements WHERE type='prospect';
